YANG errors in datatracker

These are the YANG errors from IETF datatracker:

> draft-yu-ccamp-rdnm-yang-01.txt:
> xym 0.9.0:
> Extracting 'ietf-rdnm-topology'
>    Removed 0 empty lines
> Extracting 'ietf-rdnm-tunnel'
>    Removed 0 empty lines
> Extracting 'ietf-rdnm-types'
>    Removed 1 empty lines
> 
> 
> ietf-rdnm-tunnel@2025-02-22.yang:
> pyang 2.6.1: pyang --verbose --ietf -p {libs} {model}:
> # module search path: a/www/ietf-ftp/yang/rfcmod/:/a/www/ietf-ftp/yang/draftmod/:/a/www/ietf-ftp/yang/ianamod/:/a/www/ietf-ftp/yang/catalogmod/:.:/usr/local/share/yang/modules
> # read ietf-rdnm-tunnel@2025-02-22.yang (CL)
> # read /a/www/ietf-ftp/yang/catalogmod/ietf-te@2024-02-02.yang
> # read /a/www/ietf-ftp/yang/catalogmod/ietf-te-types@2025-01-24.yang
> # read /usr/local/share/yang/modules/ietf/ietf-inet-types.yang
> # read /a/www/ietf-ftp/yang/draftmod/ietf-inet-types@2024-10-21.yang
> # read /usr/local/share/yang/modules/ietf/ietf-yang-types.yang
> # read /a/www/ietf-ftp/yang/draftmod/ietf-yang-types@2024-10-21.yang
> # read /usr/local/share/yang/modules/ietf/ietf-routing-types.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-routing-types@2017-12-04.yang
> # read /usr/local/share/yang/modules/ietf/ietf-network.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-network@2018-02-26.yang
> # read /usr/local/share/yang/modules/ietf/ietf-network-topology.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-network-topology@2018-02-26.yang
> # read ietf-rdnm-types@2025-02-22.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-te-topology@2020-08-06.yang
> ietf-rdnm-tunnel@2025-02-22.yang:49: warning: RFC 8407: 3.1: The IETF Trust Copyright statement seems to be missing or is not correct (see pyang --ietf-help for details).
> ietf-rdnm-tunnel@2025-02-22.yang:49: warning: RFC 8407: Appendix B: The text about which RFC this module is part of seems to be missing or is not correct (see pyang --ietf-help for details).
> ietf-rdnm-tunnel@2025-02-22.yang:75: error: the list needs at least one key
> ietf-rdnm-tunnel@2025-02-22.yang:85: error: the list needs at least one key
> ietf-rdnm-tunnel@2025-02-22.yang:122: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-tunnel@2025-02-22.yang:123: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-tunnel@2025-02-22.yang:124: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-tunnel@2025-02-22.yang:136: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-tunnel@2025-02-22.yang:137: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-tunnel@2025-02-22.yang:269: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-tunnel@2025-02-22.yang:270: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> 
> yanglint 2.1.30: yanglint --verbose -p {tmplib} -p {rfclib} -p {draftlib} -p {ianalib} -p {cataloglib} {model} -i:
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/rfcmod/" canonized to "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/draftmod/" canonized to "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/ianamod/" canonized to "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/catalogmod/" canonized to "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-inet-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-inet-types@2024-10-21.yang" file.
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-yang-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-yang-types@2024-10-21.yang" file.
> libyang verb: Searching for "ietf-te" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-te" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-te" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-te" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-te" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-te@2024-02-02.yang" file.
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-te-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-te-types@2025-01-24.yang" file.
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-routing-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-routing-types@2017-12-04.yang" file.
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-network" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-network@2018-02-26.yang" file.
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-network-topology" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-network-topology@2018-02-26.yang" file.
> libyang verb: Searching for "ietf-rdnm-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-rdnm-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-rdnm-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-rdnm-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-rdnm-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/draftmod/ietf-rdnm-types@2025-02-22.yang" file.
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-te-topology" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-te-topology@2020-08-06.yang" file.
> libyang err : Referenced type "nw:node-id" not found. (/ietf-rdnm-tunnel:{augment='/te:te/te:tunnels/te:tunnel/te:primary-paths/te:primary-path/te:explicit-route-objects/te:route-object-include-exclude/te:type'}/ietf-rdnm-tunnel:ttp-hop/{uses='rdnm-types:explicit-ttp-hop'}/ttp-hop/node-id)
> YANGLINT[E]: Parsing schema module "ietf-rdnm-tunnel@2025-02-22.yang" failed.
> 
> 
> ietf-rdnm-topology@2025-02-22.yang:
> pyang 2.6.1: pyang --verbose --ietf -p {libs} {model}:
> # module search path: a/www/ietf-ftp/yang/rfcmod/:/a/www/ietf-ftp/yang/draftmod/:/a/www/ietf-ftp/yang/ianamod/:/a/www/ietf-ftp/yang/catalogmod/:.:/usr/local/share/yang/modules
> # read ietf-rdnm-topology@2025-02-22.yang (CL)
> # read /usr/local/share/yang/modules/ietf/ietf-network.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-network@2018-02-26.yang
> # read /usr/local/share/yang/modules/ietf/ietf-inet-types.yang
> # read /a/www/ietf-ftp/yang/draftmod/ietf-inet-types@2024-10-21.yang
> # read /usr/local/share/yang/modules/ietf/ietf-network-topology.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-network-topology@2018-02-26.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-te-topology@2020-08-06.yang
> # read /usr/local/share/yang/modules/ietf/ietf-yang-types.yang
> # read /a/www/ietf-ftp/yang/draftmod/ietf-yang-types@2024-10-21.yang
> # read /a/www/ietf-ftp/yang/catalogmod/ietf-te-types@2025-01-24.yang
> # read /usr/local/share/yang/modules/ietf/ietf-routing-types.yang
> # read /a/www/ietf-ftp/yang/rfcmod/ietf-routing-types@2017-12-04.yang
> ietf-rdnm-topology@2025-02-22.yang:37: warning: RFC 8407: 3.1: The IETF Trust Copyright statement seems to be missing or is not correct (see pyang --ietf-help for details).
> ietf-rdnm-topology@2025-02-22.yang:37: warning: RFC 8407: Appendix B: The text about which RFC this module is part of seems to be missing or is not correct (see pyang --ietf-help for details).
> ietf-rdnm-topology@2025-02-22.yang:142: error: keyword "key" not in canonical order (see RFC 7950, Section 14)
> ietf-rdnm-topology@2025-02-22.yang:157: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-topology@2025-02-22.yang:158: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-topology@2025-02-22.yang:159: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-topology@2025-02-22.yang:169: error: keyword "key" not in canonical order (see RFC 7950, Section 14)
> ietf-rdnm-topology@2025-02-22.yang:201: error: RFC 8407: 4.14: statement "leaf" must have a "description" substatement
> ietf-rdnm-topology@2025-02-22.yang:203: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> ietf-rdnm-topology@2025-02-22.yang:204: warning: RFC 8407: 4.11.3,4.14: statement "enum" should have a "description" substatement
> 
> yanglint 2.1.30: yanglint --verbose -p {tmplib} -p {rfclib} -p {draftlib} -p {ianalib} -p {cataloglib} {model} -i:
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/rfcmod/" canonized to "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/draftmod/" canonized to "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/ianamod/" canonized to "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/catalogmod/" canonized to "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-inet-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-inet-types@2024-10-21.yang" file.
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-yang-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-yang-types@2024-10-21.yang" file.
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-network" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-network" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-network@2018-02-26.yang" file.
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-network-topology" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-network-topology" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-network-topology@2018-02-26.yang" file.
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-te-topology" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-te-topology" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-te-topology@2020-08-06.yang" file.
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-te-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-te-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-te-types@2025-01-24.yang" file.
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-routing-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-routing-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-routing-types@2017-12-04.yang" file.
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node'}/ietf-te-topology:te/{uses='te-node-augment'}/{uses='te-node-config'}/{uses='te-node-config-attributes'}/te-node-attributes/{uses='te-node-connectivity-matrices'}/connectivity-matrices/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-properties'}/path-properties/path-route-objects/path-route-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node/te/te-node-attributes/connectivity-matrices/connectivity-matrix'}/{uses='te-node-connectivity-matrix-attributes'}/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-properties'}/path-properties/path-route-objects/path-route-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node'}/ietf-te-topology:te/{uses='te-node-augment'}/{uses='te-node-state-derived'}/information-source-entry/{uses='te-node-connectivity-matrices'}/connectivity-matrices/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-optimization'}/optimizations/algorithm/metric/optimization-metric/{uses='optimization-metric-entry'}/explicit-route-exclude-objects/{uses='path-route-exclude-objects'}/route-object-exclude-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node'}/ietf-te-topology:te/{uses='te-node-augment'}/{uses='te-node-state-derived'}/information-source-entry/{uses='te-node-connectivity-matrices'}/connectivity-matrices/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-optimization'}/optimizations/algorithm/metric/optimization-metric/{uses='optimization-metric-entry'}/explicit-route-include-objects/{uses='path-route-include-objects'}/route-object-include-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node'}/ietf-te-topology:te/{uses='te-node-augment'}/{uses='te-node-state-derived'}/information-source-entry/{uses='te-node-connectivity-matrices'}/connectivity-matrices/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-properties'}/path-properties/path-route-objects/path-route-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node/te/information-source-entry/connectivity-matrices/connectivity-matrix'}/{uses='te-node-connectivity-matrix-attributes'}/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-optimization'}/optimizations/algorithm/metric/optimization-metric/{uses='optimization-metric-entry'}/explicit-route-exclude-objects/{uses='path-route-exclude-objects'}/route-object-exclude-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node/te/information-source-entry/connectivity-matrices/connectivity-matrix'}/{uses='te-node-connectivity-matrix-attributes'}/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-optimization'}/optimizations/algorithm/metric/optimization-metric/{uses='optimization-metric-entry'}/explicit-route-include-objects/{uses='path-route-include-objects'}/route-object-include-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node/te/information-source-entry/connectivity-matrices/connectivity-matrix'}/{uses='te-node-connectivity-matrix-attributes'}/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-properties'}/path-properties/path-route-objects/path-route-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node'}/ietf-te-topology:te/{uses='te-node-augment'}/tunnel-termination-point/{uses='te-node-tunnel-termination-point-config'}/local-link-connectivities/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-properties'}/path-properties/path-route-objects/path-route-object).
> libyang verb: The ordered-by statement is ignored in lists representing state data (/ietf-te-topology:{augment='/nw:networks/nw:network/nw:node/te/tunnel-termination-point/local-link-connectivities'}/{uses='te-node-tunnel-termination-point-llc-list'}/local-link-connectivity/{uses='connectivity-matrix-entry-path-attributes'}/{uses='te-types:generic-path-properties'}/path-properties/path-route-objects/path-route-object).
> 
> 
> ietf-rdnm-types@2025-02-22.yang:
> pyang 2.6.1: pyang --verbose --ietf -p {libs} {model}:
> # module search path: a/www/ietf-ftp/yang/rfcmod/:/a/www/ietf-ftp/yang/draftmod/:/a/www/ietf-ftp/yang/ianamod/:/a/www/ietf-ftp/yang/catalogmod/:.:/usr/local/share/yang/modules
> # read ietf-rdnm-types@2025-02-22.yang (CL)
> ietf-rdnm-types@2025-02-22.yang:24: warning: RFC 8407: 3.1: The IETF Trust Copyright statement seems to be missing or is not correct (see pyang --ietf-help for details).
> ietf-rdnm-types@2025-02-22.yang:24: warning: RFC 8407: Appendix B: The text about which RFC this module is part of seems to be missing or is not correct (see pyang --ietf-help for details).
> ietf-rdnm-types@2025-02-22.yang:33: error: RFC 8407: 4.14: statement "grouping" must have a "description" substatement
> ietf-rdnm-types@2025-02-22.yang:39: error: prefix "nw" is not defined (reported only once)
> ietf-rdnm-types@2025-02-22.yang:50: error: RFC 8407: 4.14: statement "leaf" must have a "description" substatement
> ietf-rdnm-types@2025-02-22.yang:57: error: RFC 8407: 4.14: statement "leaf" must have a "description" substatement
> 
> yanglint 2.1.30: yanglint --verbose -p {tmplib} -p {rfclib} -p {draftlib} -p {ianalib} -p {cataloglib} {model} -i:
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/rfcmod/" canonized to "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/draftmod/" canonized to "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/ianamod/" canonized to "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Search directory string "/a/www/ietf-ftp/yang/catalogmod/" canonized to "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-inet-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-inet-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-inet-types@2024-10-21.yang" file.
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/catalogmod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/ianamod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/draftmod".
> libyang verb: Searching for "ietf-yang-types" in "/a/www/ietf-ftp/yang/rfcmod".
> libyang verb: Searching for "ietf-yang-types" in "workspace".
> libyang verb: Loading schema from "/a/www/ietf-ftp/yang/catalogmod/ietf-yang-types@2024-10-21.yang" file.
> libyang err : Referenced type "nw:node-id" not found. (/ietf-rdnm-types:{grouping='explicit-ttp-hop'}/ttp-hop/node-id)
> YANGLINT[E]: Parsing schema module "ietf-rdnm-types@2025-02-22.yang" failed.

See: https://datatracker.ietf.org/doc/draft-yu-ccamp-rdnm-yang/01/